@import "main-menu/main-menu";
@import "interaction-panel/interaction-panel";
@import "motto/motto";
@import "main-social-links/main-social-links";

.header {
    display: grid;
    grid-template-areas: 
        "city        city"
        "nav         interaction"
        "img         img"
        "motto-link  motto-link";
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0 -#{$horiz-padding-320};
    padding: 0 $horiz-padding-320 50px;
    
    background-color: $gray-bg;

    @media screen and (min-width: $breakpoint-medium) {
        grid-template-areas: 
            "city        city"
            "nav         interaction"
            "motto-link  img"
            "down        social";
        grid-column-gap: 5.7vw;
        margin: 0 -#{$horiz-padding-768};
        padding: 0 $horiz-padding-768 45px;
    }

    @media screen and (min-width: $breakpoint-large) {
        grid-template-columns: repeat(4, auto);
        grid-template-areas: 
            "city   city        city    city"
            "nav    .           img     interaction"
            ".      motto-link  img     ."
            "down   .           img     social";
        margin: 0 -#{$horiz-padding-1366};
        padding: 0 $horiz-padding-1366 45px;
    }

    &__city-choice {
        grid-area: city;
        align-self: stretch;
        width: calc(100% + 2 * #{$horiz-padding-320});
        margin-bottom: 24px;
        padding: 20px 0;
        
        font: 800 1.5rem/0.70 $font-default;
        color: $font-black;
        text-align: center;

        background-color: $main-bg-color;

        @media screen and (min-width: $breakpoint-medium) { 
            width: calc(100% + 2 * #{$horiz-padding-768});
            margin-bottom: 45px;
            padding: 25px 0;
        }

        @media screen and (min-width: $breakpoint-large) { 
            width: calc(100% + 2 * #{$horiz-padding-1366});
        }
    }

    &__main-menu {
        grid-area: nav;
        justify-self: start;
        align-self: end;
        margin-right: 12vw;

        @media screen and (min-width: $breakpoint-large) {
            align-self: start;
            margin-right: 0;
        }
    }

    &__interaction-panel {
        grid-area: interaction;
        justify-self: end;
    }

    &__hero-image {
        grid-area: img;
        max-width: 63.125vw;
        height: auto;
        margin-top: 60px;

        object-fit: scale-down;

        @media screen and (min-width: $breakpoint-medium) {
            justify-self: start;
            align-self: end;
            width: 34.38vw;
            max-width: 390px;
            margin-top: 28px;
            margin-left: 2.85vw;

            object-fit: initial;
        }

        @media screen and (min-width: $breakpoint-large) {
            align-self: stretch;
            min-width: 31.48vw;
            margin: 0;

            object-fit: cover;
        }
    }

    &__motto-link-wrapper {
        grid-area: motto-link;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;

        @media screen and (min-width: $breakpoint-medium) {
            justify-self: end;
            align-self: end;
            align-items: flex-start;
            margin-top: 0;
        }

        @media screen and (min-width: $breakpoint-large) {
            align-items: flex-start;
        }
    }

    &__motto {

        @media screen and (min-width: $breakpoint-medium) {
        }
    }

    &__collection-link {
        margin-top: 37px;
        padding: 27px 1em;

        font: bold 1rem/0.8 $font-default;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;

        background-color: $font-black;

        @media screen and (min-width: $breakpoint-medium) {
            padding-left: 1.5em;
            padding-right: 1.5em;
            margin-top: 57px;
        }

        @media screen and (min-width: $breakpoint-medium) {
            margin-top: 47px;
        }
    }

    &__scroll-down,
    &__social-links {
        display: none;
    }

    &__scroll-down {
        width: 12px;
        height: 30px;
        margin-top: 53px;

        background: no-repeat center;
        
        @media screen and (min-width: $breakpoint-medium) {
            display: block;
            grid-area: down;
            justify-self: start;
            align-self: end;
        }
    }

    &__social-links {

        @media screen and (min-width: $breakpoint-medium) {
            display: flex;
            grid-area: social;
            justify-self: end;
            align-self: end;
        }
    }
}