mixin wrapper(pageData)
    header.header
        +header(pageData.city, pageData.menuItems, pageData.interactionItems, pageData.headerPic)
    .bestsellers
    .special-collection
    .categories
    footer.footer