mixin wrapper(pageData)
    header.header
        +header(pageData.header)
    section.bestsellers.catalog-grid
        +bestsellers(pageData.bestsellers)
    .special-collection
        +special-collection(pageData.specialCollection)
    section.categories.catalog-grid
        +categories(pageData.categories)
    footer.footer