include build/project.pug

-
	let pageTitle = "Denim";

	let pageData = {
		header: {
			city: "Nîmes",
			mainMenuItems: [ "Woman", "Man", "New" ],
			interactionPanelItems: [
				{
					backgroundImage: "../components/header/_img/search-icon.svg",
					name: "Search field"
				},
				{
					backgroundImage: "../components/header/_img/cart-icon.svg",
					name: "Cart"
				}
			],
			heroImage: {
				width: "512",
				height: "631",
				src: "../components/header/_img/hero.png",
				alt: "Woman in Denim clothes"
			},
			motto: {
				intro: "The quality you deserve",
				punchline: "Denim"
			},
			collectionLink: {
				text: "Check new collection",
				href: "#0"
			},
			scrollDown: {
				backgroundImage: "../components/header/_img/down-arrow.svg",
				href: "#0"
			},
			socialLinks: [
				{
					name: "Instagram",
					href: "#0"
				},
				{
					name: "Facebook",
					href: "#0"
				}
			]
		},

		bestsellers: {
			title: "Bestsellers",
			catalog: [
				{
					name: "Jacket",
					price: "$120",
					photo: {
						src: "../components/bestsellers/catalog/_img/jacket-1.jpg",
						alt: "Jacket",
						width: "130",
						height: "160"
					}
				},
				{
					name: "Overalls",
					price: "$140",
					photo: {
						src: "../components/bestsellers/catalog/_img/overalls-1.jpg",
						alt: "Overalls",
						width: "130",
						height: "160"
					}
				},
				{
					name: "Jacket",
					price: "$90",
					photo: {
						src: "../components/bestsellers/catalog/_img/jacket-2.jpg",
						alt: "Jacket",
						width: "130",
						height: "160"
					}
				},
				{
					name: "Jacket",
					price: "$160",
					photo: {
						src: "../components/bestsellers/catalog/_img/jacket-3.jpg",
						alt: "Jacket",
						width: "130",
						height: "160"
					}
				}
			],
			viewAllBtnText: "View all"
		},

		specialCollection: {
			offer: {
				title: "Street fashion collection",
				date: "Fall 2019",
				shopLink: {
					href: "#0",
					text: "Shop now"
				}
			},
			image: {
				src: "../components/special-collection/_img/offer-image.png",
				alt: "Offer image",
				width: "320",
				height: "226"
			}
		}
	};

+page(pageTitle, pageData)