include build/project.pug

-
	let pageTitle = "Denim";

	let pageData = {
		header: {
			city: "Nîmes",
			mainMenuItems: [ "Woman", "Man", "New" ],
			interactionPanelItems: [
				{
					backgroundImage: "../components/header/_img/search-icon.svg",
					name: "Search field"
				},
				{
					backgroundImage: "../components/header/_img/cart-icon.svg",
					name: "Cart"
				}
			],
			heroImage: {
				width: "512",
				height: "631",
				src: "../components/header/_img/splash.png",
				alt: "Woman in Denim clothes"
			},
			motto: {
				intro: "The quality you deserve",
				punchline: "Denim"
			},
			ctaBtn: "Check new collection"
		}
	};

+page(pageTitle, pageData)