.navigation {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    &__menu {
        display: flex;
        margin-left: 4.7vw;
        margin-right: 15vw;
    }
    
    &__menu-item {
        font: 500 1rem/1.1875 "Work Sans", sans-serif;
    }

    &__menu-item:not(:last-of-type),
    &__interaction-item:not(:last-of-type) {
        margin-right: 7.8vw;
    }

    &__interaction {
        display: flex;
        margin-right: 4.7vw;
    }

    &__interaction-item {
        width: 20px;
        height: 20px;

        background: no-repeat center;
    }
}