mixin navigation(menuItems, interactionItems)
    nav
        ul.navigation__menu
            each item in menuItems
                li.navigation__menu-item= item
    ul.navigation__interaction
        each item in interactionItems
            li.navigation__interaction-item(style= "background-image: url(" + item.backgroundImage + ")")
                    
                