@import "categories-catalog/categories-catalog";

.categories {
    width: 100%;
    padding: 60px 0 67px;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 100px 0 100px;
    }

    &__title {
        grid-area: title;
        margin-bottom: 40px;

        font: bold 1.625rem/0.8 $font-default;
        color: $font-black;
    }

    &__catalog {
        grid-area: catalog;
    }

    &__view-all-link {
        grid-area: link;
        justify-self: center;
        margin-top: 12.5vw;

        @media screen and (min-width: $breakpoint-medium) {
            justify-self: end;
            align-self: start;
            margin-top: 0;
        }
    }


}