.main-social-links {
    display: flex;

    &__item:not(:last-of-type) {
        margin-right: $menu-items-margin-768;

        @media screen and (min-width: $breakpoint-large) { 
            margin-right: 0;
            margin-top: $menu-items-margin-1366;
        }
    }
    
    &__item {
        font: 500 0.875rem/0.7 $font-default;
        color: $font-black;

        a {
            text-decoration: none;

            &:visited {
                color: $font-black;
            }
        }
    }
    
    @media screen and (min-width: $breakpoint-large) { 
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}