.main-social-links {
    display: flex;

    &__item:not(:last-of-type) {
        margin-right: 4.5vw;
    }
    
    &__item {
        font: 500 0.875rem/1.143 $font-default;
        color: $main-black;

        a {
            text-decoration: none;

            &:visited {
                color: $main-black;
            }
        }
    }
    
}