.special-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;

    background-color: $gray-bg;
    
    @media screen and (min-width: $breakpoint-medium) {
        justify-content: center;
        align-items: flex-start;
    }

    &__title {        
        margin-bottom: 12px;

        font: 1.125rem/0.8 $font-default;
        color: $font-gray;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 15px;
        }

        @media screen and (min-width: $breakpoint-large) {
            margin-bottom: 20px;
        }
    }

    &__date {
        margin-bottom: 30px;

        font: bold 1.625rem/0.8 $font-default;
        color: $font-black;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 40px;
        }

        @media screen and (min-width: $breakpoint-large) {
            margin-bottom: 50px;
            
            font-size: 2rem;
        }
    }

    &__shop-link {
        padding: 24px 2.125em;

        font: bold 1rem/0.8 $font-default;
        text-align: center;
        text-decoration: none;
        color: #FFFFFF;

        background-color: $font-black;

        @media screen and (min-width: $breakpoint-large) {
            padding: 27px 3.75em;
        }
    }
}