@import "catalog/catalog";

.bestsellers {
    padding: 60px 0 82px;

    @media screen and (min-width: $breakpoint-medium) {
        padding: 100px 0;
    }

    @media screen and (min-width: $breakpoint-large) {
        padding: 130px 0;
    }

    &__title {
        grid-area: title;
        align-self: start;
        margin-bottom: 40px;

        font: bold 1.625rem/0.8 $font-default;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 60px;

            font-size: 1.75rem;
        }

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 70px;

            font-size: 2rem;
        }
    }

    &__catalog {
        grid-area: catalog;
        margin-bottom: 40px;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 0;
        }
    }

    &__view-all-link {
        grid-area: link;
        justify-self: center;

        @media screen and (min-width: $breakpoint-medium) {
            justify-self: end;
            align-self: start;
        }
    }
}