include catalog/catalog.pug

mixin bestsellers(data)
    h2.bestsellers__title= data.title
    ul.bestsellers__catalog.catalog
        +catalog(data.catalog)
    a.bestsellers__view-all-link.view-all-link(href=data.viewAllLink.href)= data.viewAllLink.text