@import "catalog/catalog";

.bestsellers {
    display: grid;
    grid-template-areas: 
        "title"
        "catalog"
        "btn";
    align-items: center;
    padding: 60px 0 82px;

    @media screen and (min-width: $breakpoint-medium) {
        grid-template-areas: 
            "title    btn"
            "catalog  catalog";
        padding: 100px 0;
    }

    @media screen and (min-width: $breakpoint-large) {
        padding: 130px 0;
    }

    &__title {
        grid-area: title;
        align-self: start;
        margin-bottom: 40px;

        font: bold 1.625rem/0.8 $font-default;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 60px;

            font-size: 1.75rem;
        }

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 70px;

            font-size: 2rem;
        }
    }

    &__catalog {
        grid-area: catalog;
        margin-bottom: 40px;

        @media screen and (min-width: $breakpoint-medium) {
            margin-bottom: 0;
        }
    }

    &__view-all-btn {
        position: relative;

        grid-area: btn;
        justify-self: center;
        padding: 0 1.25vw;
        border: 0;

        font: 500 1rem/0.8 $font-default;
        color: $font-black;

        background-color: initial;

        @media screen and (min-width: $breakpoint-medium) {
            justify-self: end;
            align-self: start;

            font-size: 1.125rem;
        }

        &::after {
            position: absolute;
            bottom: -7px;
            left: 0;

            display: block;
            width: 100%;
            height: 2px;

            content: "";
            background-color: black;
        }
    }
}