.motto {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        display: block;
        margin-bottom: 15px;

        font: 1.125rem/0.8 $font-default;
        color: $font-gray;

        @media screen and (min-width: $breakpoint-medium) {
            align-self: flex-start;
            margin-bottom: 20px;
            // padding-left: 4px;
        }

        @media screen and (min-width: $breakpoint-large) {
            align-self: flex-start;
            padding-left: 0;
        }
    }

    &__punchline {
        display: block;

        font: 5.375rem/0.88 "Anton", sans-serif;
        color: $font-black;
        text-transform: uppercase;

        @media screen and (min-width: $breakpoint-medium) {
            margin-left: -0.1875rem;

            font-size: 6.125rem;
        }

        @media screen and (min-width: $breakpoint-large) {
            margin-left: -0.3125rem;

            font-size: 8rem;
        }
    }    
}