.footer-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 30px;
    margin-bottom: 42px;

    @media screen and (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (min-width: $breakpoint-large) {
        margin-bottom: 38px;
    }

    &__city {
        font: 800 1.5rem/0.8 $font-default; 
        color: $font-white;

        @media screen and (min-width: $breakpoint-medium) {
            flex: 1 0 100%;
            margin-bottom: 40px;

            text-align: center;
        }

        @media screen and (min-width: $breakpoint-large) {
            margin-bottom: 35px;
        }
    }

    &__item {
        font: 500 1.125rem/0.8 $font-default;
        color: $font-white;

        a,
        a:visited {
            color: $font-white;
            text-decoration: none;
        }

        &:not(:last-of-type) {
            @media screen and (min-width: $breakpoint-medium) {
                margin-right: 4.56vw;
            }

            @media screen and (min-width: $breakpoint-large) {
                margin-right: 2.54vw;
            }
        }
    }
}