html {
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif; }

button {
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none; }

button:focus {
  outline: 1px solid #0069ed; }

.wrapper {
  padding: 0 4.69vw; }
  @media screen and (min-width: 48em) {
    .wrapper {
      padding: 0 5.86vw; } }
  @media screen and (min-width: 85.375em) {
    .wrapper {
      padding: 0 7.17vw; } }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-menu__item:not(:last-of-type) {
    margin-right: 7.81vw; }
    @media screen and (min-width: 48em) {
      .main-menu__item:not(:last-of-type) {
        margin-right: 4.56vw; } }
    @media screen and (min-width: 85.375em) {
      .main-menu__item:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 35px; } }
  .main-menu__item {
    font: 500 1rem/0.8 "Work Sans", sans-serif;
    color: #151c23; }
  @media screen and (min-width: 85.375em) {
    .main-menu {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }

.interaction-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .interaction-panel__item {
    width: 20px;
    height: 20px;
    background: no-repeat center; }
  .interaction-panel__item:not(:last-of-type) {
    margin-right: 7.81vw; }
    @media screen and (min-width: 48em) {
      .interaction-panel__item:not(:last-of-type) {
        margin-right: 4.56vw; } }
    @media screen and (min-width: 85.375em) {
      .interaction-panel__item:not(:last-of-type) {
        margin-right: 0;
        margin-bottom: 35px; } }
  @media screen and (min-width: 85.375em) {
    .interaction-panel {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.motto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .motto__intro {
    display: block;
    margin-bottom: 15px;
    font: 1.125rem/0.8 "Work Sans", sans-serif;
    color: #727a83; }
    @media screen and (min-width: 48em) {
      .motto__intro {
        -ms-flex-item-align: start;
        align-self: flex-start;
        margin-bottom: 20px; } }
    @media screen and (min-width: 85.375em) {
      .motto__intro {
        -ms-flex-item-align: start;
        align-self: flex-start;
        padding-left: 0; } }
  .motto__punchline {
    display: block;
    font: 5.375rem/0.88 "Anton", sans-serif;
    color: #151c23;
    text-transform: uppercase; }
    @media screen and (min-width: 48em) {
      .motto__punchline {
        margin-left: -0.1875rem;
        font-size: 6.125rem; } }
    @media screen and (min-width: 85.375em) {
      .motto__punchline {
        margin-left: -0.3125rem;
        font-size: 8rem; } }

.main-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-social-links__item:not(:last-of-type) {
    margin-right: 4.56vw; }
    @media screen and (min-width: 85.375em) {
      .main-social-links__item:not(:last-of-type) {
        margin-right: 0;
        margin-top: 35px; } }
  .main-social-links__item {
    font: 500 0.875rem/0.7 "Work Sans", sans-serif;
    color: #151c23; }
    .main-social-links__item a {
      text-decoration: none; }
      .main-social-links__item a:visited {
        color: #151c23; }
  @media screen and (min-width: 85.375em) {
    .main-social-links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.header {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "city        city" "nav         interaction" "img         img" "motto-link  motto-link";
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 0 -4.69vw;
  padding: 0 4.69vw 50px;
  background-color: #f1f2f4; }
  @media screen and (min-width: 48em) {
    .header {
      grid-template-areas: "city        city" "nav         interaction" "motto-link  img" "down        social";
      grid-column-gap: 5.7vw;
      margin: 0 -5.86vw;
      padding: 0 5.86vw 45px; } }
  @media screen and (min-width: 85.375em) {
    .header {
      -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
      grid-template-areas: "city   city        city    city" "nav    .           img     interaction" ".      motto-link  img     ." "down   .           img     social";
      margin: 0 -7.17vw;
      padding: 0 7.17vw 45px; } }
  .header__city-choice {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: city;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    width: calc(100% + 2 * 4.69vw);
    margin-bottom: 24px;
    padding: 20px 0;
    font: 800 1.5rem/0.7 "Work Sans", sans-serif;
    color: #151c23;
    text-align: center;
    background-color: white; }
    @media screen and (min-width: 48em) {
      .header__city-choice {
        width: calc(100% + 2 * 5.86vw);
        margin-bottom: 45px;
        padding: 25px 0; } }
    @media screen and (min-width: 85.375em) {
      .header__city-choice {
        width: calc(100% + 2 * 7.17vw); } }
  .header__main-menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    -ms-grid-column-align: start;
    justify-self: start;
    -ms-grid-row-align: end;
    align-self: end;
    margin-right: 12vw; }
    @media screen and (min-width: 85.375em) {
      .header__main-menu {
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
        margin-right: 0; } }
  .header__interaction-panel {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: interaction;
    -ms-grid-column-align: end;
    justify-self: end; }
  .header__hero-image {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: img;
    max-width: 63.125vw;
    height: auto;
    margin-top: 60px;
    -o-object-fit: scale-down;
    object-fit: scale-down; }
    @media screen and (min-width: 48em) {
      .header__hero-image {
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
        width: 34.38vw;
        max-width: 390px;
        margin-top: 28px;
        margin-left: 2.85vw;
        -o-object-fit: initial;
        object-fit: initial; } }
    @media screen and (min-width: 85.375em) {
      .header__hero-image {
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        min-width: 31.48vw;
        margin: 0;
        -o-object-fit: cover;
        object-fit: cover; } }
  .header__motto-link-wrapper {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: motto-link;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 50px; }
    @media screen and (min-width: 48em) {
      .header__motto-link-wrapper {
        -ms-grid-column-align: end;
        justify-self: end;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        margin-top: 0; } }
    @media screen and (min-width: 85.375em) {
      .header__motto-link-wrapper {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .header__collection-link {
    margin-top: 37px;
    padding: 27px 1em;
    font: bold 1rem/0.8 "Work Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #151c23; }
    @media screen and (min-width: 48em) {
      .header__collection-link {
        padding-left: 1.5em;
        padding-right: 1.5em;
        margin-top: 57px; } }
    @media screen and (min-width: 48em) {
      .header__collection-link {
        margin-top: 47px; } }
  .header__scroll-down, .header__social-links {
    display: none; }
  .header__scroll-down {
    width: 12px;
    height: 30px;
    margin-top: 53px;
    background: no-repeat center; }
    @media screen and (min-width: 48em) {
      .header__scroll-down {
        display: block;
        grid-area: down;
        -ms-grid-column-align: start;
        justify-self: start;
        -ms-grid-row-align: end;
        align-self: end; } }
  @media screen and (min-width: 48em) {
    .header__social-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      grid-area: social;
      justify-self: end;
      align-self: end; } }
  @media screen and (min-width: 48em) {
    .header__city-choice {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3; }
    .header__main-menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
    .header__interaction-panel {
    -ms-grid-row: 2;
    -ms-grid-column: 3; }
    .header__hero-image {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; }
    .header__motto-link-wrapper {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1; }
    .header__scroll-down {
    -ms-grid-row: 4;
    -ms-grid-column: 1; }
    .header__social-links {
    -ms-grid-row: 4;
    -ms-grid-column: 3; } }
  @media screen and (min-width: 85.375em) {
    .header__city-choice {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4; }
    .header__main-menu {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
    .header__interaction-panel {
    -ms-grid-row: 2;
    -ms-grid-column: 4; }
    .header__hero-image {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1; }
    .header__motto-link-wrapper {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1; }
    .header__scroll-down {
    -ms-grid-row: 4;
    -ms-grid-column: 1; }
    .header__social-links {
    -ms-grid-row: 4;
    -ms-grid-column: 4; } }

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .catalog-item__photo-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 123%; }
    @media screen and (min-width: 48em) {
      .catalog-item__photo-wrapper {
        margin-bottom: 25px;
        padding-top: 108%; } }
    @media screen and (min-width: 85.375em) {
      .catalog-item__photo-wrapper {
        padding-top: 129%; } }
  .catalog-item__photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain; }
  .catalog-item__name {
    margin-top: auto;
    margin-bottom: 10px;
    font: 500 1rem/0.8 "Work Sans", sans-serif;
    color: #151c23; }
    @media screen and (min-width: 48em) {
      .catalog-item__name {
        margin-bottom: 15px;
        font-size: 1.125rem; } }
  .catalog-item__price {
    font: bold 0.875rem/0.8 "Work Sans", sans-serif;
    color: #151c23; }
    @media screen and (min-width: 48em) {
      .catalog-item__price {
        font-size: 1rem; } }

.catalog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  justify-items: space-between;
  gap: 30px 30px; }
  @media screen and (min-width: 48em) {
    .catalog {
      row-gap: 50px; } }
  @media screen and (min-width: 85.375em) {
    .catalog {
      -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr); } }

.bestsellers {
  display: -ms-grid;
  display: grid;
  grid-template-areas: "title" "catalog" "btn";
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 60px 0 82px; }
  @media screen and (min-width: 48em) {
    .bestsellers {
      grid-template-areas: "title    btn" "catalog  catalog";
      padding: 100px 0; } }
  @media screen and (min-width: 85.375em) {
    .bestsellers {
      padding: 130px 0; } }
  .bestsellers__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
    -ms-grid-row-align: start;
    align-self: start;
    margin-bottom: 40px;
    font: bold 1.625rem/0.8 "Work Sans", sans-serif; }
    @media screen and (min-width: 48em) {
      .bestsellers__title {
        margin-bottom: 60px;
        font-size: 1.75rem; } }
    @media screen and (min-width: 48em) {
      .bestsellers__title {
        margin-bottom: 70px;
        font-size: 2rem; } }
  .bestsellers__catalog {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: catalog;
    margin-bottom: 40px; }
    @media screen and (min-width: 48em) {
      .bestsellers__catalog {
        margin-bottom: 0; } }
  .bestsellers__view-all-btn {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    position: relative;
    grid-area: btn;
    -ms-grid-column-align: center;
    justify-self: center;
    padding: 0 1.25vw;
    border: 0;
    font: 500 1rem/0.8 "Work Sans", sans-serif;
    color: #151c23;
    background-color: initial; }
  @media screen and (min-width: 48em) {
    .bestsellers__title {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
    .bestsellers__catalog {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2; }
    .bestsellers__view-all-btn {
    -ms-grid-row: 1;
    -ms-grid-column: 2; } }
    @media screen and (min-width: 48em) {
      .bestsellers__view-all-btn {
        -ms-grid-column-align: end;
        justify-self: end;
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
        font-size: 1.125rem; } }
    .bestsellers__view-all-btn::after {
      position: absolute;
      bottom: -7px;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      content: "";
      background-color: black; }

.special-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%; }
  @media screen and (min-width: 48em) {
    .special-offer {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      padding: 0;
      padding: 20px; } }
  .special-offer__wrapper {
    width: 100%;
    height: 100%;
    padding: 0; }
    @media screen and (min-width: 48em) {
      .special-offer__wrapper {
        background-color: #f1f2f4; } }
  .special-offer__title {
    margin-bottom: 12px;
    font: 1.125rem/0.8 "Work Sans", sans-serif;
    color: #727a83; }
  .special-offer__date {
    margin-bottom: 30px;
    font: bold 1.625rem/0.8 "Work Sans", sans-serif;
    color: #151c23; }
  .special-offer__shop-link {
    padding: 24px 2.125em;
    font: bold 1rem/0.8 "Work Sans", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #151c23; }

.special-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (min-width: 48em) {
    .special-collection {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; } }
  .special-collection__image-wrapper {
    margin: 0 -4.69vw; }
    @media screen and (min-width: 48em) {
      .special-collection__image-wrapper {
        width: calc(50% + 15px);
        margin: 0 -15px; } }
  .special-collection__image {
    width: 100%;
    height: auto; }
  @media screen and (min-width: 48em) {
    .special-collection__offer {
      width: 50%; } }
