@import "catalog-item/catalog-item";

.catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: space-between;
    gap: 30px 30px;

    @media screen and (min-width: $breakpoint-medium) {
        row-gap: 50px;
    }

    @media screen and (min-width: $breakpoint-large) {
        grid-template-columns: repeat(4, 1fr);
    }
}